/* text area */

#text{
    margin-left: 108px;
}

.buttons{
    margin-left: 126px;
    margin-right: 76px;
}

/* logo section */

.logo img{
    margin-left: 427px;
}
.copy{
    margin-left: 108px;
}