#text {
    margin-left: auto;
    width: 100%;
}

.copy{
    margin-left: auto;
    width: 100%;
}

.buttons {
    margin-left: auto;
    margin-right: -15px;
}

.logo img{
    height: 91px;
    margin-left: 63px;
}
