#text {
    margin-left: 105px;
    width: 677px;
}
.copy{
    margin-left: 105px;
    width: 677px;
    
}

.buttons {
    margin-left: 112px;
    margin-right: 87px;
}

.logo img {
    margin-left: 219px;
}